<div class="container footer">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center">
      <h4>Dirección:</h4>
      <p>Ambato y Garcia moreno</p>
      <strong>Quito - Ecuador</strong>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h4>Resdes Sociales</h4>
        <p>@face</p>
        <p>@twiter</p>
        <p>@pinteres</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h4>Contactos</h4>
        <p>email: aaaaaaa@yavirac.edu.ec</p>
        <p>teléfono: 222222-222</p>
    </div>

  </div>

</div>
