<div class="slide">
  <ngb-carousel>
    <ng-template ngbSlide class="text-center">
      <img src="../../../assets/img/foto1.jpeg" alt="Random first slide" width="1200px;" height="400px;">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/img/foto2.jpeg" alt="Random second slide" width="1200px;" height="400px;">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/img/foto3.jpeg" alt="Random third slide" width="1200px;" height="400px;">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
